body > div {
	margin: 0 auto;
	padding: 3em 0;
	width: 80%;
}

.tile {
	margin-top: 3em;
}

.indent-left {
	margin-left: 0;
}

.indent-right {
	margin-right: 0;
}

.box {
	border: 1px solid #d0d0d0;
	margin-left: 3em;
}

.maybe-left {
	display: inline;
	float: left;
	width: 40%;
}

.maybe-right {
	display: inline;
	float: left;
	width: 60%;
}
